@font-face {
    font-family: Bricolage;
    src: url('BricolageGrotesque_72pt-Regular.ttf');
}


/*
Fläche, auf der der Graph zu sehen ist (SmartGraphPane)
 */
.graph {
    -fx-background-color: transparent;
}

/*
Knotenpunkte
 */
.vertex {
    -fx-fill: gold;
}
/*
Beschriftung der Knoten
 */
.vertex-label {
    -fx-font-family: "Bricolage";
    -fx-fill: #FFFFFF;
}

/*
Kanten
 */
.edge {
    -fx-stroke-width: 0.75;
    -fx-stroke: #FFFFFF;
    -fx-fill: transparent;
    -fx-stroke-line-cap: round;
}

.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: #FF6D66;
    -fx-opacity: 0.8;
}
