graph {
    fill-mode: plain;
    fill-color: rgba(0, 0, 0, 0);
}
node {
    shape: circle;
    fill-color: yellow;
}

/*node.pictureNode {
    shape: image;
    size: 50px;
    fill-image: url("img/star-yellow.png");
}*/

edge{
    fill-color:#ffffff;
    size: 0.75px;
}