#mainRoot {
    -fx-background-image: url("/img/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* füllt die gesamte Fläche */
    -fx-background-position: center;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-min-width: 55px;
    -fx-min-height: 55px;
}

/* LIKE BUTTON */
#like-button.icon-button {
    -fx-background-image: url("/img/icons/like.png");
}

#like-button.icon-button:hover {
    -fx-background-image: url("/img/icons/likeHOVER.png");
}

/* VOLUME BUTTON */
#volume-button.icon-button {
    -fx-background-image: url("/img/icons/volume.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#volume-button.icon-button:hover {
    -fx-background-image: url("/img/icons/volumeHOVER.png");
}

#volume-button.muted {
    -fx-background-image: url("/img/icons/volumeOFF.png");
}

#volume-button.muted:hover {
    -fx-background-image: url("/img/icons/volumeOFFHOVER.png");
}

/* SETTINGS BUTTON */
#settings-button.icon-button {
    -fx-background-image: url("/img/icons/settings.png");
}

#settings-button.icon-button:hover {
    -fx-background-image: url("/img/icons/settingsHOVER.png");
}

.icon-button-small {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 30px 30px;
    -fx-min-width: 36px;
    -fx-min-height: 36px;
}

/* PLAY / PAUSE BUTTON */
#play-button.icon-button-small {
    -fx-background-size: 30px 30px;
}

/* PLAY */
#play-button.icon-button-small.play {
    -fx-background-image: url("/img/icons/play.png");
}

#play-button.icon-button-small.play:hover {
    -fx-background-image: url("/img/icons/playHOVER.png");
}

/* PAUSE  */
#play-button.icon-button-small.pause {
    -fx-background-image: url("/img/icons/stop.png");
}

#play-button.icon-button-small.pause:hover {
    -fx-background-image: url("/img/icons/stopHOVER.png");
}

/* REPEAT BUTTON */
#repeat-button.icon-button-small {
    -fx-background-image: url("/img/icons/repeat.png");
}

#repeat-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/repeatHOVER.png");
}

/* SHUFFLE BUTTON */
#shuffle-button.icon-button-small {
    -fx-background-image: url("/img/icons/shuffle.png");
}

#shuffle-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/shuffleHOVER.png");
}

/* BACK BUTTON */
#back-button.icon-button-small {
    -fx-background-image: url("/img/icons/skipback.png");
}

#back-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/skipbackHOVER.png");
}

/* NEXT BUTTON */
#next-button.icon-button-small {
    -fx-background-image: url("/img/icons/skipfwd.png");
}

#next-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/skipfwdHOVER.png");
}

.progress-bar {
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
    -fx-alignment: center;
}

.progress-bar .progress-slider {
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
    -fx-pref-height: 6px;
}

.progress-bar .progress-slider .track {
    -fx-pref-height: 4px;
    -fx-background-radius: 2px;
    -fx-background-color: rgba(255,255,255,0.4);
}

.progress-bar .thumb{
    -fx-background-color: white;
    -fx-pref-height: 18px;
    -fx-max-height: 18px;
    -fx-min-height: 18px;
    -fx-pref-width: 18px;
    -fx-max-width: 18px;
    -fx-min-width: 18px;
}


.progress-bar .time-label {
    -fx-font-size: 11px;
    -fx-text-fill: white;
}


.progress-bar .labels-box {
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
}
.bottom-bar {
    -fx-background-image: url("/img/bottom-bar.PNG");
    -fx-background-size: 960px 100px;
}

/* VOLUME SLIDER */
#volume-slider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#volume-slider .track {
    -fx-background-color: #888;
    -fx-background-radius: 3;
    -fx-pref-width: 4;
}

#volume-slider .thumb {
    -fx-background-color: #00bfff;
    -fx-background-radius: 6;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}