#mainRoot {
    -fx-background-image: url("/img/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* füllt die gesamte Fläche */
    -fx-background-position: center;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-min-width: 55px;
    -fx-min-height: 55px;
}

/* LIKE BUTTON */
#like-button.icon-button {
    -fx-background-image: url("/img/icons/like.png");
}

#like-button.icon-button:hover {
    -fx-background-image: url("/img/icons/likeHOVER.png");
}

/* VOLUME BUTTON */
#volume-button.icon-button {
    -fx-background-image: url("/img/icons/volume.png");
}

#volume-button.icon-button:hover {
    -fx-background-image: url("/img/icons/volumeHOVER.png");
}

/* SETTINGS BUTTON */
#settings-button.icon-button {
    -fx-background-image: url("/img/icons/settings.png");
}

#settings-button.icon-button:hover {
    -fx-background-image: url("/img/icons/settingsHOVER.png");
}

.icon-button-small {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 30px 30px; /* меньше чем обычные кнопки */
    -fx-min-width: 36px;
    -fx-min-height: 36px;
}

/* REPEAT BUTTON */
#repeat-button.icon-button-small {
    -fx-background-image: url("/img/icons/repeat.png");
}

#repeat-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/repeatHOVER.png");
}

/* SHUFFLE BUTTON */
#shuffle-button.icon-button-small {
    -fx-background-image: url("/img/icons/shuffle.png");
}

#shuffle-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/shuffleHOVER.png");
}

/* BACK BUTTON */
#back-button.icon-button-small {
    -fx-background-image: url("/img/icons/skipback.png");
}

#back-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/skipbackHOVER.png");
}

/* NEXT BUTTON */
#next-button.icon-button-small {
    -fx-background-image: url("/img/icons/skipfwd.png");
}

#next-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/skipfwdHOVER.png");
}