#mainRoot {
    -fx-background-image: url("/img/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* füllt die gesamte Fläche */
    -fx-background-position: center;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-min-width: 55px;
    -fx-min-height: 55px;
}

/* LIKE BUTTON */
#like-button.icon-button {
    -fx-background-image: url("/img/icons/like.png");
}

#like-button.icon-button:hover {
    -fx-background-image: url("/img/icons/likeHOVER.png");
}

/* VOLUME BUTTON */
#volume-button.icon-button {
    -fx-background-image: url("/img/icons/volume.png");
}

#volume-button.icon-button:hover {
    -fx-background-image: url("/img/icons/volumeHOVER.png");
}

/* SETTINGS BUTTON */
#settings-button.icon-button {
    -fx-background-image: url("/img/icons/settings.png");
}

#settings-button.icon-button:hover {
    -fx-background-image: url("/img/icons/settingsHOVER.png");
}

.icon-button-small {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 30px 30px;
    -fx-min-width: 36px;
    -fx-min-height: 36px;
}

/* PLAY / PAUSE BUTTON */
#play-button.icon-button-small {
    -fx-background-size: 30px 30px;
}

/* PLAY */
#play-button.icon-button-small.play {
    -fx-background-image: url("/img/icons/play.png");
}

#play-button.icon-button-small.play:hover {
    -fx-background-image: url("/img/icons/playHOVER.png");
}

/* PAUSE  */
#play-button.icon-button-small.pause {
    -fx-background-image: url("/img/icons/stop.png");
}

#play-button.icon-button-small.pause:hover {
    -fx-background-image: url("/img/icons/stopHOVER.png");
}

/* REPEAT BUTTON */
#repeat-button.icon-button-small {
    -fx-background-image: url("/img/icons/repeat.png");
}

#repeat-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/repeatHOVER.png");
}

/* SHUFFLE BUTTON */
#shuffle-button.icon-button-small {
    -fx-background-image: url("/img/icons/shuffle.png");
}

#shuffle-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/shuffleHOVER.png");
}

/* BACK BUTTON */
#back-button.icon-button-small {
    -fx-background-image: url("/img/icons/skipback.png");
}

#back-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/skipbackHOVER.png");
}

/* NEXT BUTTON */
#next-button.icon-button-small {
    -fx-background-image: url("/img/icons/skipfwd.png");
}

#next-button.icon-button-small:hover {
    -fx-background-image: url("/img/icons/skipfwdHOVER.png");
}

.progress-bar {
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
    -fx-alignment: center;
}

.progress-bar .progress-slider {
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
      -fx-pref-height: 6px;
}

.progress-bar .progress-slider .track {
    -fx-pref-height: 4px;
    -fx-background-radius: 2px;
}

.progress-bar .time-label {
    -fx-font-size: 11px;
    -fx-text-fill: white;
}

.progress-bar .labels-box {
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
}